.DS_Store
*~
*.pyc
*.pyo
ts
\#*
.\#*
*.zapped
*.sedbak*
*.o
*.os
.coverage
native/testmain
native/interface/*_wrap.cc
native/*.py
native/*.so
native/.config
schedcat/locking/_locking.so
schedcat/locking/native.py
schedcat/sched/_sched.so
schedcat/sched/native.py
schedcat/sim/_sim.so
schedcat/sim/native.py
tmp/
TAGS
schedcat/locking/linprog/_lp_analysis.so
schedcat/locking/linprog/native.py
